.gameboard {
  display: grid;
  gap: 0.25rem;
  background-color: var(--color-light);
  color: var(--color-light);
  grid-template-columns: repeat(3, 5.8rem);
  grid-template-rows: repeat(3, 5.8rem);
  transition: background-color 0.4s ease;
}

.spot {
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark {
  font-family: "Orbitron", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  transition: color 0.4s ease;
}

.tie {
  color: var(--color-dimmed);
  background-color: var(--color-light);
}

.dim {
  color: var(--color-dimmed);
}

.hgl {
  color: var(--color-light);
}

@media only screen and (min-width: 768px) {
  .gameboard {
    gap: 0.5rem;
    grid-template-columns: repeat(3, 12rem);
    grid-template-rows: repeat(3, 12rem);
  }

  .mark {
    font-size: 9rem;
  }
}
