.radios {
  margin-top: 2rem;
  display: grid;
  grid-gap: 1.2rem;
  justify-items: start;
}

.radio {
  font-size: 1.6rem;
  line-height: 1;
  font-family: "Orbitron", sans-serif;
  color: var(--color-light);
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  cursor: pointer;
  z-index: 20;
}

.radio:focus-within .radio__label {
  transform: scale(1.05);
  opacity: 1;
}

.radio__input {
  display: flex;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__input input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  background-color: currentColor;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

input:checked + .radio__control::before {
  transform: scale(1);
}

input:focus + .radio__control {
  box-shadow: 0 0 0 0.05em var(--color-bg), 0 0 0.15em 0.1em currentColor;
}

.radio__control {
  display: grid;
  place-items: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
}

.radio__label {
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

@media only screen and (min-width: 768px) {
  .radios {
    margin-top: 2.2rem;
    grid-gap: 1.1rem;
  }

  .radio {
    font-size: 2rem;
  }
}
